**This script contains the following points:**

1. Importing libraries
2. Importing data
3. Merging data
4. Exporting data

# 1. Importing libraries

In [55]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 2. Importing data

In [56]:
# Turn project folder path into a string
path = r'/Users/sarahtischer/Desktop/CareerFoundry/Data Immersion/Achievement 4/01-2024_Instacart_Basket_Analysis'

In [57]:
# Import "products_clean.csv"
df_prods = pd.read_csv(os.path.join(path, '02_Data', 'Prepared_data', 'products_clean.csv'), index_col = False)

In [58]:
# Check the output of df_prods
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [59]:
df_prods.shape

(49672, 5)

In [60]:
# Import "orders_products_combined.pkl" (Question 3)
df_ords_prods_comb = pd.read_pickle(os.path.join(path, '02_Data', 'Prepared_data', 'orders_products_combined.pkl'))

In [61]:
# Check the output of df_ords_prods_comb (Question 4)
df_ords_prods_comb.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [62]:
df_ords_prods_comb.shape

(32434489, 10)

# 3. Merging data

In [63]:
# Drop _merge column from previous merge in df_ords_prods
df_ords_prods = df_ords_prods_comb.drop(columns = ['_merge'])

In [64]:
# Check the output of df_ords_prods
df_ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [65]:
df_ords_prods.shape

(32434489, 9)

In [66]:
# Test full join
#pd.merge(df_prods, df_ords_prods, on = ['product_id'], indicator = True, how = 'outer')

# Shape output:
# 32435070 rows Ã— 14 columns

In [67]:
# Merge df_prods and df_ords_prods using 'inner' join as a full merge set is required (Question 5)
df_ords_prods_merged = df_prods.merge(df_ords_prods, on = ['product_id'], indicator = True)

In [68]:
# Check the output of df_ords_prods_merge
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [69]:
df_ords_prods_merged.shape

(32404859, 14)

# 4. Exporting data

In [70]:
# Export df_ords_prods_merge as "orders_products_merged.pkl" 
df_ords_prods_merged.to_pickle(os.path.join(path, '02_Data', 'Prepared_data', 'orders_products_merged.pkl'))